.movie-search {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  transition: all 0.3s ease;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.movie-container img {
  width: 200px;
  position: relative;
  border-radius: 10%;
}



.movie-container .movie-overview h3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
 
}
.movie-id{
  display: none;
}
.movie-overview{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.news-button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #413f3f;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.show-news-button:hover {
  background-color: #dfdcdc;
  border-radius: 5px;
  border: 1px solid;
}

