.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    margin: 50px auto;
    background-color: grey;
    max-width: 400px;
    max-height: 300px; 
    border-radius: 10px;
    list-style: none;
}
    
.friend-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
<<<<<<< Updated upstream
=======
    height: 100vh;
}
#light .friend-container {
    background-color: #fff;
}
#dark .friend-container {
    background-color: rgb(38, 36, 34);
    color: #fff;
>>>>>>> Stashed changes
}

.create-group {
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.home-btn{
    display: flex;
    justify-content: right;
<<<<<<< Updated upstream
=======
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 100px;
    margin-top: -470px;
}
.friend-list li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.friend-list li:hover {
    background-color: #e0e0e0;
}
.close{
    margin-left: 250px;
    margin-top: -10px;
    cursor: pointer;
    size: 20px;
>>>>>>> Stashed changes
}