.App {
    font-family: "Arial", sans-serif;
    text-align: center;
    margin-top: 0px;
    background-color: rgb(38, 36, 34);
}

.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 50px auto;
    background-color: rgb(229, 238, 244);
    max-width: 400px;
    max-height: 1000px;
    border-radius: 20px;
    list-style: none;
    padding: 50px;
    cursor: pointer;
    
}
#dark .friend-list {
    background-color: rgb(38, 26, 14);
    color: #fff;
}
    
.friend-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    height: 100vh;
}
#light .friend-container {
    background-color: #fff;
}
#dark .friend-container {
    background-color: rgb(38, 36, 34);
    color: #fff;
}

.create-group{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 30px;
    gap: 30px;
    border-radius: 20px;
    background-color: rgb(229, 238, 244);
    flex-direction: column;
    justify-content: center;
}

#dark .create-group {
    background-color: rgb(38, 26, 14);
    color: #fff;
}

.home-btn{
    display: flex;
    justify-content: right;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    background-color: rgb(229, 238, 244);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 100px;
    margin-top: -470px;
    cursor: pointer;
    
}
#dark .modal {
    background-color: rgb(38, 26, 14);
    color: #fff;
}
#theme {
    color: rgb(38, 36, 34);
    height: 100vh;
}